*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-clip: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)), url(Citybackground.mp4);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
   
}
.logo{
width: 150px;
height: 58px;
cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
font size: 70px;
margin-top: 80px;

}

button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: red;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
background: white;
height: 100%;
width: 0;
border-radius: 20px;
position: absolute;
left: 0;
bottom: 0;
z-index: -1;
transition: 0.4s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 100%;
        height: auto;
    }
}
.container{
display: flex;
max-width: 1224px;
width: 90%;
margin: auto;
padding: 40px;

}
.photo-gallery{
    display: flex;
    gap: 30px;
    
}
.column{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: grayscale(200%);
    transition: 1s;
    box-shadow: 5px 5px 10px red;
    display: flex;
    overflow: hidden;
    
}
.photo img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
    box-shadow: 2px 2px 5px white
}
.photo{
    display: flex;
}

@media (max-width:768px) {
    .photo-gallery{
        flex-direction: column;
    }
    
}

.intro{
    height: 200px;
    width: 280px;
    padding: 6px;
    box-sizing: border-box;
    color: red;
}

.card{
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.card:hover{
    transform: translateY(20px);
}